---
import Layout from "../../layouts/Layout2.astro";
import Footer from "../../components/Footer.vue";
---

<Layout
  title="contact"
  pageTitle="お問い合わせ"
  pageTitleEng="CONTACT US"
  breadcrumb={[["お問い合わせ", ""]]}
>
  <main>
    <div>
      <div class="contacts">
        <div class="contacts-title">
          <img src="/svgs/green-leaf.svg" alt="" />
          <h2 class="contacts-text">お問い合わせ</h2>
          <img src="/svgs/green-leaf.svg" alt="" />
        </div>
        <p class="text-confirmed">
          お問い合わせフォームの送信を完了致しました。
        </p>
        <p class="text-confirmation">
          この度はお問い合わせいただきまして誠にありがとうございます。<br
          />ご確認メールをお送りしておりますのでご確認ください。
        </p>
        <p>
          <p class="text-attention">
            ※ご送信後、ご確認メールが届かない場合は、フォームご入力のメールアドレスの謝り、<br
            />もしくはシステム等の不具合が考えられます。その際にはお手数ですが<br
            />もう一度ご送信下さいますか、<br
            />お電話にてお問い合わせくださいますようお願い申し上げます。<br
            />また、まれに迷惑メールフォルダへ入っている場合がございますので、<br
            />合わせてご確認ください。
          </p>
          <a href="/" class="top-button">トップページへ戻る</a>
        </p>
      </div>
      <Footer client:load />
    </div>
  </main>
</Layout>

<style>
  .contacts {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 7.5rem;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    padding-bottom: 4rem;
  }

  .contacts-title {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
  }

  .contacts-text {
    position: absolute;
    background-color: white;
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: 0.1125rem;
    width: 15rem;
  }

  .text-confirmed {
    font-weight: 600;
    padding-bottom: 1.5625rem;
    letter-spacing: 0.06rem;
  }

  .text-confirmation {
    font-weight: 400;
    letter-spacing: 0.06rem;
    padding-bottom: 1.5625rem;
  }

  .text-attention {
    color: #ff3333;
    letter-spacing: 0.06rem;
    padding-bottom: 2.5rem;
  }

  .top-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15.625rem;
    height: 3.125rem;
    color: #5f8934;
    letter-spacing: 0.06rem;
    border-radius: 25px;
    border: solid 1px;
    padding-top: 0.5rem;
    font-weight: 600;
  }

  @media screen and (max-width: 767px) {
    .contacts {
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      padding-bottom: 4rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    .contacts-text {
      font-size: 1.3125rem;
      width: 10rem;
    }

    .contacts img {
      width: 40%;
    }
  }
</style>
