---
import Layout from "../../layouts/Layout2.astro";
import Footer from "../../components/Footer.vue";
import Button from "../../components/Button.astro";
import Subtitle from "../../components/Subtitle.astro";
import Movetop from "../../components/Movetop.astro";
---

<Layout
  title="お問い合わせ｜さくらいとれとれ市場"
  pageTitle="お問い合わせ"
  pageTitleEng="CONTACT US"
  breadcrumb={[["お問い合わせ", ""]]}
  mainVisual="/images/contacts.png"
>
  <main>
    <div>
      <div class="contacts">
        <Subtitle ja="お問い合わせ" decoration={true} />
        <p class="text-confirmed">
          お問い合わせフォームの送信を完了致しました。
        </p>
        <p class="text-confirmation">
          この度はお問い合わせいただきまして誠にありがとうございます。
        </p>
        <div class="flex justify-center">
          <Button
            bg="white"
            text="primary"
            size="lg"
            outlined={true}
            input="トップページへ戻る"
            link="/"
          />
        </div>
      </div>
      <Movetop />
      <Footer client:load />
    </div>
  </main>
</Layout>

<style>
  .contacts {
    background-color: #ffffff;
    border-radius: 15px;
    width: 84%;
    margin: auto;
    margin-bottom: 60px;
    padding: 60px 0;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2;
  }

  .text-confirmed {
    font-weight: 600;
    padding-bottom: 1.5625rem;
    letter-spacing: 0.06rem;
    margin-top: 2.5rem;
  }

  .text-confirmation {
    font-weight: 400;
    letter-spacing: 0.06rem;
    padding-bottom: 1.5625rem;
  }

  .text-attention {
    color: #ff3333;
    letter-spacing: 0.06rem;
    padding-bottom: 2.5rem;
  }

  @media screen and (max-width: 767px) {
    .contacts {
      width: 90%;
      padding: 40px 6% 60px;
    }

    .contacts-text {
      font-size: 1.3125rem;
      width: 10rem;
    }

    .contacts img {
      width: 40%;
    }
  }
</style>
