---
import Layout from "../../layouts/Layout2.astro";
import Footer from "../../components/Footer.vue";
import Subtitle from "../../components/Subtitle.astro";
import InputButton from "../../components/InputButton.astro";
import Movetop from "../../components/Movetop.astro";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
}
---

<Layout
  title="CONTACT"
  pageTitle="お問い合わせ"
  pageTitleEng="CONTACT US"
  breadcrumb={[["お問い合わせ", ""]]}
>
  <main>
    <div class="contacts">
      <Subtitle ja="お問い合わせ" decoration={true} />
      <form
        action="/contacts/complete"
        method="post"
        name="inputForm"
        data-netlify="true"
      >
        <div class="input">
          <div>
            <label>お名前<span class="required">必須</span></label>
            <input class="name" type="text" name="name" />
          </div>
          <div>
            <label>ふりがな<span class="required">必須</span></label>
            <input class="kana" type="text" name="kana" />
          </div>
          <div>
            <label>郵便番号<span class="required">必須</span></label>
            <div>
              〒 <input class="zip_code" type="text" name="zip_code1" /> - <input
                class="zip_code"
                type="text"
                name="zip_code2"
              />
            </div>
          </div>
          <div>
            <label>住所<span class="required">必須</span></label>
            <input class="address" type="text" name="address" />
          </div>
          <div>
            <label>電話番号<span class="required">必須</span></label>
            <input class="tel" type="text" name="tel" />
          </div>
          <div>
            <label>メールアドレス<span class="required">必須</span></label>
            <input class="email" type="text" name="email" />
          </div>
          <div>
            <label>確認用メールアドレス<span class="required">必須</span></label
            >
            <input class="email-confirm" type="text" name="email_confirm" />
          </div>
          <div>
            <label>お問い合わせ内容<span class="required">必須</span></label>
            <textarea class="content" name="content" rows="10" cols="50"
            ></textarea>
          </div>
          <InputButton />
        </div>
      </form>
    </div>
    <Movetop />
    <Footer client:load />
  </main>
</Layout>

<style>
  main {
    background-color: #fff9e0;
    margin: auto;
    font-size: 1rem;
  }

  input {
    height: 45px;
  }

  .name,
  .kana {
    width: 50%;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .zip_code {
    width: 13%;
    margin: 0 10px;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .address {
    width: 100%;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .tel {
    width: 43%;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .email,
  .email-confirm {
    width: 71%;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .content {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .input > div {
    margin-bottom: 40px;
  }

  .input > div > label {
    display: block;
    margin-bottom: 15px;
  }

  .required {
    display: inline-block;
    height: 29px;
    width: 57px;
    background-color: #ff3c3c;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
  }

  .contacts {
    background-color: #ffffff;
    border-radius: 15px;
    width: 84%;
    margin: 60px auto;
    padding: 60px 0 60px;
    letter-spacing: 0.1em;
    line-height: 2;
  }

  .input {
    width: 65%;
    margin: auto;
    margin-top: 35px;
  }

  @media screen and (max-width: 767px) {
    .contacts {
      width: 90%;
      background-color: #ffffff;
      border-radius: 15px;
      margin: 60px auto;
      padding: 45px 0 20px;
    }

    .input {
      width: 88%;
    }

    .name,
    .kana {
      width: 100%;
    }

    .zip_code {
      width: 25%;
      margin: 0 10px;
    }

    .address {
      width: 100%;
    }

    .tel {
      width: 100%;
    }

    .email,
    .email-confirm {
      width: 100%;
    }

    .content {
      width: 100%;
    }
  }
</style>
