---
import Layout from "../../layouts/Layout2.astro";
import Footer from "../../components/Footer.vue";
import Subtitle from "../../components/Subtitle.astro";
import InputButton from "../../components/InputButton.astro";
import Movetop from "../../components/Movetop.astro";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
}
---

<Layout
  title="お問い合わせ｜さくらいとれとれ市場"
  pageTitle="お問い合わせ"
  pageTitleEng="CONTACT US"
  breadcrumb={[["お問い合わせ", ""]]}
  mainVisual="/images/contacts.png"
>
  <main>
    <div class="contacts">
      <Subtitle ja="お問い合わせ" decoration={true} />
      <form action="/contacts/complete" method="POST" name="お問い合わせ" data-netlify="true">
        <div class="input">
          <input type="hidden" name="form-name" value="お問い合わせ" />
          <div>
            <label>お名前<span class="required">必須</span></label>
            <input class="required-input name" type="text" name="name" />
          </div>
          <div>
            <label>ふりがな<span class="required">必須</span></label>
            <input class="required-input kana" type="text" name="kana" />
          </div>
          <div>
            <label>郵便番号<span class="required">必須</span></label>
            <div>
              〒 <input class="required-input zip_code" type="text" name="zip_code1" /> - <input
                class="required-input zip_code"
                type="text"
                name="zip_code2"
              />
            </div>
          </div>
          <div>
            <label>住所<span class="required">必須</span></label>
            <input class="required-input address" type="text" name="address" />
          </div>
          <div>
            <label>電話番号<span class="required">必須</span></label>
            <input class="required-input tel" type="text" name="tel" />
          </div>
          <div>
            <label>メールアドレス<span class="required">必須</span></label>
            <input class="required-input email" type="text" name="email" />
          </div>
          <div>
            <label>確認用メールアドレス<span class="required">必須</span></label>
            <input class="required-input email-confirm" type="text" name="email_confirm" />
          </div>
          <div>
            <label>お問い合わせ内容<span class="required">必須</span></label>
            <textarea class="required-input content" name="content" rows="10" cols="50"></textarea>
          </div>
          <div id="display-input-button">
            <div class="flex justify-center">
              <a href="#" id="confirm">
                <div class="default large-button bordered white primary">
                  <img class="icon-hidden" src="svgs/shopping-cart.svg" alt="" />
                  <p>入力内容確認</p>
                </div>
              </a>
            </div>
          </div>

          <div id="display-confirm-button" class="hidden">
            <div class="justify-around md:flex">
              <a class="my-4" href="#" id="correct">
                <div class="default large-button borderless gray white m-auto">
                  <img class="icon-hidden" src="svgs/shopping-cart.svg" alt="" />
                  <p>修正する</p>
                </div>
              </a>

              <button type="submit" class="my-4 default large-button bordered white primary">送信する</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <Movetop />
    <Footer client:load />
  </main>
</Layout>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<script is:inline>
  $(function () {
    $("#confirm").click(function () {
      var errorFlg = errorCheck();

      if (errorFlg === false) {
        confirm("未入力の項目があります。");
        return false;
      }

      displayConfirm();

      return false;
    });

    $("#correct").click(function () {
      displayInput();

      return false;
    });
  });

  function displayConfirm() {
    $('input[type="text"]').each(function (index, value) {
      $(value).css({
        border: "none",
        padding: "0",
      });

      $(value).prop("disabled", true);
    });

    $("textarea").each(function (index, value) {
      $(value).css({
        border: "none",
        padding: "0",
        resize: "none",
      });

      $(value).prop("disabled", true);
    });

    $("select").each(function (index, value) {
      $(value).css({
        border: "none",
        padding: "0",
        backgroundImage: "none",
      });

      $(value).prop("disabled", true);
    });

    $(".required").each(function (index, value) {
      $(value).hide();
    });

    $(".confirm-hidden-area").each(function (index, value) {
      $(value).hide();
    });

    $("#display-input-button").hide();
    $("#display-confirm-button").show();
  }

  function displayInput() {
    $('input[type="text"]').each(function (index, value) {
      $(value).css({
        border: "1px solid #dddddd",
        padding: "0 0 0 10px",
      });

      $(value).prop("disabled", false);
    });

    $("textarea").each(function (index, value) {
      $(value).css({
        border: "1px solid #dddddd",
        padding: "0 0 0 10px",
        resize: "vertical",
      });

      $(value).prop("disabled", false);
    });

    $("select").each(function (index, value) {
      $(value).css({
        border: "1px solid #dddddd",
        padding: "0 10px",
        backgroundImage: "",
      });

      $(value).prop("disabled", false);
    });

    $(".required").each(function (index, value) {
      $(value).show();
    });

    $(".confirm-hidden-area").each(function (index, value) {
      $(value).show();
    });

    $("#display-input-button").show();
    $("#display-confirm-button").hide();
  }

  function errorCheck() {
    var result = true;
    $('input[type="text"]').each(function (index, value) {
      if ($(value).hasClass("required-input") && $(value).val() === "") {
        result = false;
      }
    });

    $("textarea").each(function (index, value) {
      if ($(value).hasClass("required-input") && $(value).val() === "") {
        result = false;
      }
    });

    $("select").each(function (index, value) {
      if ($(value).hasClass("required-input") && $(value).val() === "") {
        result = false;
      }
    });

    $('input[type="checkbox"]').each(function (index, value) {
      if ($(value).prop("checked") === false) {
        result = false;
      }
    });

    return result;
  }
</script>
<style>
  .default {
    height: 3rem;
    border-radius: 2rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .default:hover {
    opacity: 0.8;
  }

  .small-button {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .large-button {
    padding-left: 4.75rem;
    padding-right: 4.75rem;
  }
  .bordered {
    border: 1px solid var(--primary-color);
  }
  .borderless {
    border: none;
  }
  .white {
    background-color: var(--white-color);
  }
  .primary-variant {
    background-color: var(--primary-variant-color);
  }
  .gray {
    background-color: var(--gray-color);
  }
  .white {
    color: var(--white-color);
  }
  .black {
    color: var(--black-color);
  }
  .primary {
    color: var(--primary-color);
  }
  .icon-visible {
    display: block;
    margin-right: 1rem;
  }
  .icon-hidden {
    display: none;
  }

  @media screen and (max-width: 389px) {
    .small-button {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .large-button {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  main {
    position: relative;
    margin: auto;
    font-size: 1rem;
  }

  input {
    height: 45px;
  }

  .name,
  .kana {
    width: 50%;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .zip_code {
    width: 13%;
    margin: 0 10px;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .address {
    width: 100%;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .tel {
    width: 43%;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .email,
  .email-confirm {
    width: 71%;
    padding-left: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .content {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .input > div {
    margin-bottom: 40px;
  }

  .input > div > label {
    display: block;
    margin-bottom: 15px;
  }

  .required {
    display: inline-block;
    height: 29px;
    width: 57px;
    background-color: #ff3c3c;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
  }

  .contacts {
    background-color: #ffffff;
    border-radius: 15px;
    width: 84%;
    margin: 60px auto;
    padding: 60px 0 60px;
    letter-spacing: 0.1em;
    line-height: 2;
  }

  .input {
    width: 65%;
    margin: auto;
    margin-top: 35px;
  }

  @media screen and (max-width: 767px) {
    .contacts {
      width: 90%;
      background-color: #ffffff;
      border-radius: 15px;
      margin: 60px auto;
      padding: 45px 0 20px;
    }

    .input {
      width: 88%;
    }

    .name,
    .kana {
      width: 100%;
    }

    .zip_code {
      width: 25%;
      margin: 0 10px;
    }

    .address {
      width: 100%;
    }

    .tel {
      width: 100%;
    }

    .email,
    .email-confirm {
      width: 100%;
    }

    .content {
      width: 100%;
    }
  }
</style>
