---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import HeaderSP from "../components/Header.vue";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.vue";
import Hero from "../components/Top/Hero.astro";
import Features from "../components/Top/Features.astro";
import Products from "../components/Top/Products.astro";
import Services from "../components/Top/Services.astro";
import News from "../components/Top/News.astro";
import Access from "../components/Top/Access.astro";
import Movetop from "../components/Movetop.astro";
---

<Layout title="さくらいとれとれ市場">
  <main>
    <div class="md:hidden">
      <HeaderSP bgColor="none" client:load />
    </div>
    <Hero />
    <div class="hidden md:block header-wrapper">
      <Header bgColor="white" />
    </div>

    <Features />
    <Products />
    <Services />
    <News />
    <Access />
    <Movetop />
    <Footer client:load />
  </main>
</Layout>

<style lang="scss">
  .header-wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .sp-header {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
  .pc-header {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
</style>
