---
import "../styles/header.css";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My first blog with Astro">
  <Header />
  <main></main>
</Layout>
