---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.vue";
---

<Layout title="My first blog with Astro">
  <main>
    <!-- ここからTOP -->
    <Header />
    <div>
      <div>
        <img src="" />
      </div>
      <div>
        <div>
          <p>Sakurai Toretore Market</p>
          <p>新鮮な野菜の恵みを家庭にお届け！</p>
          <h1>さくらいとれとれ市場</h1>
          <ul>
            <li>店舗情報</li>
            <li>取り扱い商品</li>
            <li>お知らせ</li>
            <li>出荷者募集</li>
            <li>お問い合わせ</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 当店の特徴 -->
    <div>
      <p>FEATURES</p>
      <h2>当店の特徴</h2>
      <div>
        <!-- 当店の特徴_新鮮な野菜 -->
        <div>
          <p>FRESH VEGETABLES</p>
          <h3>新鮮な野菜</h3>
          <p>
            地元の農家と緊密に連携し、旬の野菜を中心に、品質にこだわった商品をお客様にお届けしております。また、市場では地域の特産品や季節の山菜など、さまざまな野菜を取り揃えています。これらの新鮮な野菜を使った料理やサラダを楽しむことで、健康や美容にも貢献できます。さくらいとれとれ市場では、お客様に最高の食材を提供することを目指して、日々努力しております。
          </p>
        </div>
        <!-- 当店の特徴_農家直送 -->
        <div>
          <p>FARMER DIRECT DELIVERY</p>
          <h3>農家直送</h3>
          <p>
            お客様に提供するほとんどの野菜が農家直送となっています。新鮮で栄養価が高く、味が格別であること、地域支援による経済活動の活性化、安全の確保、旬の味覚の提供、そして独自の品揃えで地元ならではの珍しい品種や季節限定の山菜を提供しています。
          </p>
        </div>
        <!-- 当店の特徴_地域密着 -->
        <div>
          <p>COMMUNITY-BASED</p>
          <h3>地域密着</h3>
          <p>
            さくらいとれとれ市場は地域と密着し、地元産品の支援による地域経済活性化、新鮮な食材の提供、地域特色を活かした商品の発信、顧客との密接なコミュニケーション、および地域コミュニティ形成に貢献しています。これにより、お客様に喜ばれるサービスを提供し、地域の魅力を発信しています。
          </p>
        </div>
      </div>
    </div>
    <!-- 取り扱い商品の紹介 -->
    <div>
      <p>PRODUCT INTRODUCTION</p>
      <h2>取り扱い商品の紹介</h2>
      <div>
        <div>
          <img src="" />
          <p>夏野菜</p>
          <p>
            これらの夏野菜は、さくらいとれとれ市場で新鮮な状態で提供されています。夏の味覚をお楽しみください。
          </p>
          <a href="#">詳しくはこちら</a>
        </div>
        <div>
          <img src="" />
          <p>冬野菜</p>
          <p>
            これらの冬野菜は、寒さによって甘みが増し、栄養価が高まります。さくらいとれとれ市場で新鮮な冬野菜をお楽しみください。
          </p>
          <a href="#">詳しくはこちら</a>
        </div>
        <div>
          <img src="" />
          <p>地元特産品</p>
          <p>
            さくらいとれとれ市場では地元の野菜のほか、三輪そうめん、奈良漬け、大和高原ピクルスなど地元の特産品も多く取り扱っています。
          </p>
          <a href="#">詳しくはこちら</a>
        </div>
      </div>
    </div>
    <!-- 当店のサービス -->
    <div>
      <p>SERVICE</p>
      <h2>当店のサービス</h2>
      <div>
        <img src="" />
        <div>
          <h3>宅配サービス</h3>
          <p>
            さくらいとれとれ市場では、近隣のお客様に新鮮な野菜を届けるための宅配サービスを展開しています。お買い上げ金額が4,000円以上の場合、送料無料でお届けしています。さらに、農家直送の新鮮な野菜や旬の食材を取り扱っており、お客様に健康的で美味しい食材を提供しています。
          </p>
        </div>
      </div>
      <div>
        <img src="" />
        <div>
          <h3>レシピ提案</h3>
          <p>
            野菜のレシピ提案サービスは、お客様が購入した野菜に合ったレシピを提案し、保存方法のアドバイスや料理のコツ、野菜情報の提供を行うサービスです。これにより、お客様がより健康的な食生活を送ることができるようになります。公式LINEアカウントのVOOMにて定期的に配信いたします。
          </p>
        </div>
      </div>
    </div>
    <!-- お知らせ -->
    <div>
      <p>NEWS</p>
      <h2>お知らせ</h2>
      <ul>
        <li><a href="#">すべて</a></li>
        <li><a href="#">ブログ</a></li>
        <li><a href="#">入荷情報</a></li>
        <li><a href="#">イベント情報</a></li>
      </ul>
      <div>
        <div>
          <img src="" />
          <p>2023.04.12</p>
          <p>テキストが入ります。</p>
        </div>
        <div>
          <img src="" />
          <p>2023.04.12</p>
          <p>テキストが入ります。</p>
        </div>
        <div>
          <img src="" />
          <p>2023.04.12</p>
          <p>テキストが入ります。</p>
        </div>
        <div>
          <img src="" />
          <p>2023.04.12</p>
          <p>テキストが入ります。</p>
        </div>
      </div>
      <a href="#">もっと見る</a>
    </div>
    <!-- アクセス -->
    <div>
      <div>
        <p>ACCESS</p>
        <h2>アクセス</h2>
      </div>
      <img src="" />
    </div>
    <Footer client:load />
  </main>
</Layout>
