---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My first blog with Astro">
  <main>
    <h1 class="text-xl font-bold">トップページ</h1>
    <a href="/news" class="text-purple">ニュース</a>
  </main>
</Layout>
