---
import Layout from "../layouts/Layout.astro";

// microCMS呼び出し
import { News, getNews } from "../library/microcms";

const response = await getNews({ fields: ["id", "title", "eyecatch"] });
type PickedNews = Pick<News, "id" | "title" | "eyecatch">;
---

<Layout title="My first blog with Astro">
  <main>
    <ul>
      {
        response.contents.map((content: PickedNews) => (
          <li>
            <a href={content.id}>{content.title}</a>
            <div>
              <img src={content.eyecatch.url} width="200" alt="アイキャッチ画像" />
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
