---
import Layout from "../layouts/Layout.astro";
import TableOfContents from "../components/TableOfContents.astro";
import Footer from "../components/Footer.vue";

const contents = ["夏野菜", "冬野菜", "地元特産品"];
---

<Layout title="product">
  <main>
    <div>
      <div>
        <h1>お取り扱い商品の紹介</h1>
        <p>PRODUCT</p>
        <nav>
          <p>
            <a href="#">トップ</a>
            <span>＞</span>
          </p>
          <p>
            <span>取り扱い商品の紹介</span>
          </p>
        </nav>
      </div>
      <div>
        <img src="" />
      </div>
    </div>
    <TableOfContents contents={contents} />
    <div>
      <h2>旬の野菜</h2>
      <div id="section-0">
        <h3>夏野菜</h3>
        <p>これらの夏野菜は、さくらいとれとれ市場で新鮮な状態で提供されています。夏の味覚をお楽しみください。</p>
        <div>
          <div>
            <img src="" />
            <p>トマト</p>
            <p>夏の野菜で、甘みと酸味のバランスが絶妙です。</p>
          </div>
          <div>
            <img src="" />
            <p>キュウリ</p>
            <p>シャキシャキとした食感が特徴で、暑い夏にぴったりな野菜です。</p>
          </div>
          <div>
            <img src="" />
            <p>ナス</p>
            <p>夏野菜の定番で、焼きナスや煮物、カレーなど様々な料理に使われます。</p>
          </div>
          <div>
            <img src="" />
            <p>ピーマン</p>
            <p>緑色のビタミン豊富な野菜で、肉詰めや炒め物などで使われます。</p>
          </div>
          <div>
            <img src="" />
            <p>ズッキーニ</p>
            <p>さっぱりとした味わいで、炒め物やスープ、グリル料理などに向いています。</p>
          </div>
          <div>
            <img src="" />
            <p>オクラ</p>
            <p>ネバネバとした食感が特徴で、サラダや煮物、天ぷらなどで楽しめます。</p>
          </div>
          <div>
            <img src="" />
            <p>トウモロコシ</p>
            <p>甘みが強く、茹ででそのまま食べるのはもちろん、炒め物やスープにも適しています。</p>
          </div>
        </div>
        <div>
          <a href="#">購入はこちら</a>
        </div>
      </div>
      <div>
        <h3 id="section-1">冬野菜</h3>
        <p>
          これらの冬野菜は、寒さによって甘みが増し、栄養価が高まります。さくらいとれとれ市場で新鮮な冬野菜をお楽しみください。
        </p>
        <div>
          <div>
            <img src="" />
            <p>ダイコン</p>
            <p>冬の定番野菜で、煮物やサラダ、おでんなど幅広い料理に利用されます。</p>
          </div>
          <div>
            <img src="" />
            <p>カボチャ</p>
            <p>甘みが強く、スープや煮物、デザートなどにも使われます。</p>
          </div>
          <div>
            <img src="" />
            <p>ネギ</p>
            <p>風味が良く、鍋物や炒め物、汁物などで利用されます。</p>
          </div>
          <div>
            <img src="" />
            <p>ハクサイ</p>
            <p>葉が柔らかく、鍋物や漬物、炒め物などで使われます。</p>
          </div>
          <div>
            <img src="" />
            <p>ニンジン</p>
            <p>甘みがあり、煮物やスープ、サラダなどに適しています。</p>
          </div>
          <div>
            <img src="" />
            <p>ゴボウ</p>
            <p>ほくほくとした食感が特徴で、煮物やきんぴら、天ぷらなどで楽しめます。</p>
          </div>
          <div>
            <img src="" />
            <p>ホウレンソウ</p>
            <p>桜井産は栄養価が高く、炒め物やおひたし、和え物などで食べられます。</p>
          </div>
          <div>
            <img src="" />
            <p>イチゴ</p>
            <p>イチゴのなかでも、古都華は行列ができるほどの人気商品となっています。</p>
          </div>
        </div>
        <div>
          <a href="#">購入はこちら</a>
        </div>
      </div>
    </div>
    <div id="section-2">
      <h2>地元特産品</h2>
      <p>
        さくらいとれとれ市場では地元の野菜のほか、三輪そうめん、奈良漬け、<br
        />大和高原ピクルスなど地元の特産品も多く取り扱っています。
      </p>
      <div>
        <img src="" />
        <img src="" />
        <img src="" />
      </div>
      <div>
        <a href="#">購入はこちら</a>
      </div>
    </div>
    <Footer client:load />
  </main>
</Layout>
