---
// microCMS呼び出し
import { News, getNews } from "../library/microcms";

type PickedNews = Pick<
  News,
  "id" | "title" | "eyecatch" | "publishedAt" | "category"
>;

export const news = await getNews({
  fields: ["id", "title", "eyecatch", "publishedAt", "category"],
  limit: 9,
});
---

<div class="w-[90vw]">
  <div
    class="max-w-7xl px-4 md:px-8 py-12 mx-auto transition-all duration-500 ease-linear"
  >
    <div class="relative">
      <div
        class="slides-container h-72 flex snap-x snap-mandatory overflow-hidden overflow-x-auto md:space-x-6 space-x-2 rounded scroll-smooth"
      >
        {
          news.contents.map((content: PickedNews) => (
            <div class="news slide aspect-square h-full flex-shrink-0 snap-center overflow-hidden">
              <a href={`/news/${content.id}`}>
                <img
                  class="w-full object-cover rounded"
                  src={content.eyecatch.url}
                  alt="mountain_image"
                />
                <div class="news-list-category-wrapper">
                  <p class="news-detail-date">
                    {new Date(content.publishedAt).getFullYear() +
                      "." +
                      (
                        "00" +
                        (new Date(content.publishedAt).getMonth() + 1)
                      ).slice(-2) +
                      "." +
                      ("00" + new Date(content.publishedAt).getDate()).slice(
                        -2
                      )}
                  </p>
                </div>
                <p class="news-title">{content.title}</p>
              </a>
            </div>
          ))
        }
      </div>
      <div class="absolute top-0 -left-4 h-full items-center hidden md:flex">
        <button
          role="button"
          class="prev px-2 py-2 rounded-full bg-white group w-14 h-14"
          aria-label="prev"
        >
          <img
            class="mx-auto w-auto h-2"
            style="transform: scale(-1, 1)"
            src="/svgs/right-arrow.svg"
            alt=""
          />
        </button>
      </div>
      <div class="absolute top-0 -right-4 h-full items-center hidden md:flex">
        <button
          role="button"
          class="next px-2 py-2 rounded-full bg-white group w-14 h-14"
          aria-label="next"
        >
          <img class="mx-auto w-auto h-2" src="/svgs/right-arrow.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const slidesContainer = document.querySelector(".slides-container");
  const slideWidth = slidesContainer?.querySelector(".slide")?.clientWidth;
  const prevButton = document.querySelector(".prev");
  const nextButton = document.querySelector(".next");

  if (nextButton) {
    nextButton.addEventListener("click", () => {
      if (slidesContainer && slideWidth !== undefined) {
        slidesContainer.scrollLeft += slideWidth;
      }
    });
  }

  if (prevButton) {
    prevButton.addEventListener("click", () => {
      if (slidesContainer && slideWidth !== undefined) {
        slidesContainer.scrollLeft -= slideWidth;
      }
    });
  }
</script>

<style>
  .slides-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .slides-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .news:hover {
    opacity: 0.8;
  }

  .news-list-category-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 0.87rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .news-detail-date {
    color: #5f8934;
  }

  .news-list-category-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 0.87rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>
