---
---

<header>
  <div class="bar">
    <div class="bar-logo">
      <a href="#"><img src="public/svgs/logo.svg" alt="logo" /></a>
    </div>
    <div>
      <p class="title">さくらいとれとれ市場</p>
      <p class="title-sub">Sakurai Toretore Market</p>
    </div>
  </div>
  <div class="navigation">
    <ul>
      <li><a href="#">店舗情報<br /><p>INFOMATION</p></a></li>
      <li><a href="#">取り扱い商品<br /><p>INFOMATION</p></a></li>
      <li><a href="#">お知らせ<br /><p>INFOMATION</p></a></li>
      <li><a href="#">出品者募集<br /><p>SHIPPERS</p></a></li>
      <li><a href="#">お問い合わせ<br /><p>CONTACT US</p></a></li>
    </ul>
  </div>
  <div class="icon">
    <div class="shopping-cart">
      <a href="#"
        ><img src="public/svgs/shopping-cart.svg" alt="shoppng-cart" /></a
      >
    </div>

    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <p>MENU</p>
    </div>
  </div>
</header>
