---
const { bgColor } = Astro.props;
---

<header style={`${bgColor ? `background-color:${bgColor}` : ""}`}>
  <a href="/" class="logo">
    <div class="logo-icon">
      <img src="/images/toretore.png" alt="logo" />
    </div>
    <div>
      <p class="logo-text">さくらいとれとれ市場</p>
      <p class="logo-text-sub">Sakurai Toretore Market</p>
    </div>
  </a>

  <ul class="nav">
    <a href="/information">
      <li class="nav-text">
        店舗情報<p class="nav-text-sub">INFORMATION</p>
      </li>
    </a>
    <a href="/product">
      <li class="nav-text">
        取り扱い商品<p class="nav-text-sub">PRODUCT</p>
      </li>
    </a>
    <a href="/news/page/1">
      <li class="nav-text">
        お知らせ<p class="nav-text-sub">NEWS</p>
      </li>
    </a>
    <a href="/shippers">
      <li class="nav-text">
        出荷者募集<p class="nav-text-sub">SHIPPERS</p>
      </li>
    </a>
    <a href="/contacts">
      <li class="nav-text">
        お問い合わせ<p class="nav-text-sub">CONTACT US</p>
      </li>
    </a>
  </ul>

  <div class="icon">
    <div class="shopping-cart">
      <a href="#"><img src="/svgs/shopping-cart.svg" alt="shoppng-cart" /></a>
    </div>

    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <p>MENU</p>
    </div>
  </div>
</header>

<style>
  .nav-text {
    position: relative;
    /*リンクの形状*/
    text-decoration: none;
    outline: none;
  }

  /*波形の設定*/
  .nav-text:hover::before {
    content: "";
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: 30%;
    top: 0;
    /*波形の形状*/
    border: 1px solid #333;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*アニメーションの設定*/
    animation: 1s circleanime2 forwards;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    font-family: var(--noto-sans);
  }

  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 7%;
  }
  .logo-icon {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
  }
  .logo-text {
    font-family: var(--m-plus-rounded-1c);
    font-size: 1.3rem;
    font-weight: 700;
  }
  .logo-text-sub {
    font-size: 0.9rem;
    color: #5f8934;
    font-family: var(--josefin-sans);
    letter-spacing: 0.03rem;
  }

  .nav {
    display: flex;
    gap: 3rem;
  }
  .nav-text {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.06rem;
  }
  .nav-text-sub {
    font-family: var(--josefin-sans);
    font-size: 0.6rem;
    font-weight: 400;
    color: #5f8934;
    letter-spacing: 0.08rem;
  }

  .shopping-cart {
    display: none;
  }

  .hamburger {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .logo-text {
      display: none;
      font-size: 15px;
    }
    .logo-text-sub {
      display: none;
      font-size: 9px;
    }
    .nav {
      display: none;
    }
    .icon {
      display: flex;
    }
    .shopping-cart {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: solid 1px;
      padding: 0.5rem;
      margin: 1.5rem;
    }
    .hamburger {
      display: block;
      padding-right: 20px;
      cursor: pointer;
      margin: 1.5rem;
    }

    .hamburger .line {
      display: block;
      width: 30px;
      height: 1px;
      margin-bottom: 10px;
      background-color: black;
    }

    .hamburger p {
      font-size: 0.5rem;
      font-family: var(--noto-sans);
    }
  }
</style>
