---
---

<div id="display-input-button">
  <div class="flex justify-center">
    <a href="javascript:void(0)" id="confirm">
      <div class="default large-button bordered white primary">
        <img class="icon-hidden" src="svgs/shopping-cart.svg" alt="" />
        <p>入力内容確認</p>
      </div>
    </a>
  </div>
</div>

<div id="display-confirm-button" class="hidden">
  <div class="justify-around md:flex">
    <a class="my-4" href="javascript:void(0)" onclick="displayInput();">
      <div class="default large-button borderless gray white m-auto my-3">
        <img class="icon-hidden" src="svgs/shopping-cart.svg" alt="" />
        <p>修正する</p>
      </div>
    </a>

    <a class="my-4" href="javascript:void(0)" id="submit">
      <div class="default large-button bordered white primary mx-auto my-3">
        <img class="icon-hidden" src="svgs/shopping-cart.svg" alt="" />
        <p>送信する</p>
      </div>
    </a>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<script is:inline>
  $(function () {
    $("#confirm").click(function () {
      var errorFlg = errorCheck();

      if (errorFlg === false) {
        confirm("未入力の項目があります。");
        return false;
      }

      displayConfirm();
    });

    $("#submit").click(function () {
      $("form[name='inputForm']").submit();
    });
  });

  function displayConfirm() {
    $('input[type="text"]').each(function (index, value) {
      $(value).css({
        border: "none",
        padding: "0",
      });

      $(value).prop("disabled", true);
    });

    $("textarea").each(function (index, value) {
      $(value).css({
        border: "none",
        padding: "0",
        resize: "none",
      });

      $(value).prop("disabled", true);
    });

    $("select").each(function (index, value) {
      $(value).css({
        border: "none",
        padding: "0",
        backgroundImage: "none",
      });

      $(value).prop("disabled", true);
    });

    $(".required").each(function (index, value) {
      $(value).hide();
    });

    $(".confirm-hidden-area").each(function (index, value) {
      $(value).hide();
    });

    $("#display-input-button").hide();
    $("#display-confirm-button").show();
  }

  function displayInput() {
    $('input[type="text"]').each(function (index, value) {
      $(value).css({
        border: "1px solid #dddddd",
        padding: "0 0 0 10px",
      });

      $(value).prop("disabled", false);
    });

    $("textarea").each(function (index, value) {
      $(value).css({
        border: "1px solid #dddddd",
        padding: "0 0 0 10px",
        resize: "vertical",
      });

      $(value).prop("disabled", false);
    });

    $("select").each(function (index, value) {
      $(value).css({
        border: "1px solid #dddddd",
        padding: "0 10px",
        backgroundImage: "",
      });

      $(value).prop("disabled", false);
    });

    $(".required").each(function (index, value) {
      $(value).show();
    });

    $(".confirm-hidden-area").each(function (index, value) {
      $(value).show();
    });

    $("#display-input-button").show();
    $("#display-confirm-button").hide();
  }

  function errorCheck() {
    var result = true;
    $('input[type="text"]').each(function (index, value) {
      if ($(value).hasClass("required-input") && $(value).val() === "") {
        result = false;
      }
    });

    $("textarea").each(function (index, value) {
      if ($(value).hasClass("required-input") && $(value).val() === "") {
        result = false;
      }
    });

    $("select").each(function (index, value) {
      if ($(value).hasClass("required-input") && $(value).val() === "") {
        result = false;
      }
    });

    $('input[type="checkbox"]').each(function (index, value) {
      if ($(value).prop("checked") === false) {
        result = false;
      }
    });

    return result;
  }
</script>

<style>
  .default {
    height: 3rem;
    border-radius: 2rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .default:hover {
    opacity: 0.8;
  }

  .small-button {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .large-button {
    padding-left: 4.75rem;
    padding-right: 4.75rem;
  }
  .bordered {
    border: 1px solid var(--primary-color);
  }
  .borderless {
    border: none;
  }
  .white {
    background-color: var(--white-color);
  }
  .primary-variant {
    background-color: var(--primary-variant-color);
  }
  .gray {
    background-color: var(--gray-color);
  }
  .white {
    color: var(--white-color);
  }
  .black {
    color: var(--black-color);
  }
  .primary {
    color: var(--primary-color);
  }
  .icon-visible {
    display: block;
    margin-right: 1rem;
  }
  .icon-hidden {
    display: none;
  }

  @media screen and (max-width: 389px) {
    .small-button {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .large-button {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
</style>
