---
import LINEButton from "./LINEButton.astro";
import PurchaseButton from "./PurchaseButton.astro";
---

<div class="purchase-button hidden md:grid gap-5 fixed right-0 top-1/4">
  <PurchaseButton />
  <LINEButton />
</div>

<style>
  .purchase-button {
    z-index: 1000;
  }
</style>
