---
---

<div id="page-top" class="top-move-button">
  <div class="top-move-button-text">
    <img src="public/svgs/up-arrow.svg" alt="#" />TOP PAGE
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<script>
  $("#page-top").click(function () {
    $("body,html").animate(
      {
        scrollTop: 0, //ページトップまでスクロール
      },
      500
    ); //ページトップスクロールの速さ。数字が大きいほど遅くなる
    return false; //リンク自体の無効化
  });
</script>
<style>
  #page-top:hover {
    cursor: pointer;
  }

  .top-move-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.125rem;
    height: 3rem;
    background-color: #648a45;
    border-radius: 15px 0 0 0;
    margin-left: auto;
  }

  .top-move-button-text {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    font-size: 1.325rem;
    font-family: var(--josefin-sans);
    font-weight: normal;
    letter-spacing: 1.05px;
    color: #ffffff;
  }

  @media screen and (max-width: 389px) {
    .top-move-button {
      width: 50%;
      height: 2.5rem;
    }

    .top-move-button-text {
      font-size: 1rem;
      gap: 0.6rem;
      letter-spacing: 0.76px;
    }
    .top-move-button-text img {
      height: 0.9rem;
    }
  }
</style>
