---
---

<a href="#">
  <div
    class="flex flex-col gap-3 w-16 h-48 rounded-md bg-primaryVariant items-center justify-center"
  >
    <img class="stroke-white" src="/svgs/shopping-cart.svg" alt="" />
    <p class="text-white jp-text font-semibold">購入はこちら</p>
  </div>
</a>

<style>
  .jp-text {
    writing-mode: vertical-rl;
    letter-spacing: 0.2em;
  }
</style>
