---
---

<div
  class="grid grid-cols-1 md:grid-cols-[1fr_1.5fr] justify-center place-items-end items-center gap-12 my-20"
>
  <div class="w-full md:w-[80%] leading-loose tracking-widest">
    <div class="mb-10 md:text-start text-center">
      <p class="text-xs md:text-base text-primary md:mb-3.5 mb-1">ACCESS</p>
      <h2 class="text-xl md:text-3xl font-bold min-w-fit">アクセス</h2>
    </div>
    <img
      class="w-[95%] h-80 md:w-full md:h-96 bg-primary rounded-l-xl ml-auto block md:hidden object-cover"
      src="/images/toretore5.jpg"
    />
    <div class="w-[95%] ml-auto md:m-0 grid grid-cols-[1fr_4fr] gap-y-3 gap-x-2 mt-6">
      <p class="text-primary font-bold md:w-24">営業時間</p>
      <p>9:00 ～ 18:00</p>
      <p class="text-primary font-bold">所在地</p>
      <p>
        〒633-0062 <br />
        奈良県桜井市大字粟殿72番地
      </p>
      <p class="text-primary font-bold">TEL</p>
      <p>0744-45-1011</p>
    </div>
  </div>

  <img
    class="w-[95%] h-56 md:w-full md:h-96 bg-primary rounded-l-xl hidden md:block ml-auto object-cover"
    src="/images/toretore5.jpg"
  />
</div>

<style lang="scss"></style>
