---
import Heading from "./Heading.astro";
---

<div class="features">
	<Heading en="FEATURES" ja="当店の特徴" />

	<!-- 新鮮な野菜 -->
	<div class="features-block">
		<div class="features-block-left">
			<img class="features-block-left-image" src="/images/fresh-vegitable.png" alt="" />
		</div>
		<div class="features-block-right rounded-t-2xl">
			<div class="features-block-right-heading">
				<p class="features-block-right-heading-icon">01</p>
				<div class="features-block-right-heading-title">
					<p class="features-block-right-heading-title-en">FRESH VEGETABLES</p>
					<h3 class="features-block-right-heading-title-ja">新鮮な野菜</h3>
				</div>
			</div>
			<p class="features-block-right-article tracking-widest leading-loose">
				地元の農家と緊密に連携し、旬の野菜を中心に、品質にこだわった商品をお客様にお届けしております。また、市場では地域の特産品や季節の山菜など、さまざまな野菜を取り揃えています。これらの新鮮な野菜を使った料理やサラダを楽しむことで、健康や美容にも貢献できます。さくらいとれとれ市場では、お客様に最高の食材を提供することを目指して、日々努力しております。
			</p>
			<img class="blue_flowers" src="/svgs/blue-flowers.svg" alt="#" />
		</div>
	</div>
	<!-- 農家直送 -->
	<div class="features-block">
		<div class="features-block-left">
			<img class="features-block-left-image" src="/images/direct-delivery.png" alt="" />
		</div>
		<div class="features-block-right rounded-b-2xl">
			<div class="features-block-right-heading">
				<p class="features-block-right-heading-icon">02</p>
				<div class="features-block-right-heading-title">
					<p class="features-block-right-heading-title-en">FARMER DIRECT DELIVERY</p>
					<h3 class="features-block-right-heading-title-ja">農家直送</h3>
				</div>
			</div>
			<p class="features-block-right-article tracking-widest leading-loose">
				お客様に提供するほとんどの野菜が農家直送となっています。新鮮で栄養価が高く、味が格別であること、地域支援による経済活動の活性化、安全の確保、旬の味覚の提供、そして独自の品揃えで地元ならではの珍しい品種や季節限定の山菜を提供しています。
			</p>
			<img class="gray_flowers" src="/svgs/gray-flower.svg" alt="#" />
		</div>
	</div>
	<!-- 地域密着 -->
	<div class="features-block rounded-t-2xl">
		<div class="features-block-left">
			<img class="features-block-left-image" src="/images/community-based.png" alt="" />
		</div>
		<div class="features-block-right">
			<div class="features-block-right-heading">
				<p class="features-block-right-heading-icon">03</p>
				<div class="features-block-right-heading-title">
					<p class="features-block-right-heading-title-en">COMMUNITY-BASED</p>
					<h3 class="features-block-right-heading-title-ja">地域密着</h3>
				</div>
			</div>
			<p class="features-block-right-article tracking-widest leading-loose">
				さくらいとれとれ市場は地域と密着し、地元産品の支援による地域経済活性化、新鮮な食材の提供、地域特色を活かした商品の発信、顧客との密接なコミュニケーション、および地域コミュニティ形成に貢献しています。これにより、お客様に喜ばれるサービスを提供し、地域の魅力を発信しています。
			</p>
			<img class="pink_flower_variant" src="/svgs/pink-flower-variant.svg" alt="#" />
		</div>
	</div>
</div>

<style lang="scss">
	.features {
		width: 100%;
		@media screen and (max-width: 767px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2rem;
		}
		&-heading {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1.875rem;
			font-weight: 600;
			letter-spacing: 0.11rem;
			margin-top: 3.5rem;
			margin-bottom: 2.5rem;
			&-sub {
				font-family: var(--josefin-sans);
				font-size: 0.8rem;
				font-weight: 400;
				color: #5f8934;
				letter-spacing: 0.0975rem;
			}
		}
		&-block {
			display: flex;
			justify-content: center;
			max-width: 1260px;
			margin: 0 auto;
			@media screen and (max-width: 767px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-left: 1rem;
				margin-right: 1rem;
			}
			&-left {
				position: relative;
				width: 40%;
				@media screen and (max-width: 767px) {
					width: 80%;
				}
				&-image {
					z-index: 2;
					position: absolute;
					right: -10%;
					@media screen and (max-width: 767px) {
						position: static;
					}
				}
			}
			&-right {
				position: relative;
				width: 60%;
				height: 520px;
				background-color: #ffffff;
				padding: 6rem;
				@media screen and (max-width: 767px) {
					width: 100%;
				}
				@media screen and (max-width: 767px) {
					height: 100%;
					border-radius: 16px;
					padding-top: 3rem;
					padding-bottom: 3rem;
					padding-right: 1rem;
					padding-left: 1rem;
				}
				&-heading {
					position: relative;
					z-index: 1;
					display: flex;
					margin-bottom: 2rem;
					&-icon {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 60px;
						height: 60px;
						background: #e6d37e;
						color: #ffffff;
						font-size: 1.5rem;
						font-weight: 600;
						border-radius: 50%;
					}
					&-title {
						display: flex;
						flex-direction: column;
						justify-content: center;
						font-size: 0.8rem;
						letter-spacing: 1.56px;
						margin-left: 1.5rem;

						&-en {
							color: #963c3c;
						}
						&-ja {
							font-size: 1.6rem;
							font-weight: 500;
						}
					}
				}
				&-article {
					position: relative;
					z-index: 1;
				}
				.blue_flowers {
					position: absolute;
					top: 0;
					right: 0;
					z-index: 0;
					margin: 1.5rem;
					opacity: 0.5;
					@media screen and (max-width: 767px) {
						position: relative;
						display: flex;
						width: 150px;
						float: right;
					}
				}
				.gray_flowers {
					position: absolute;
					bottom: 10%;
					right: 0;
					z-index: 0;
					margin: 1.5rem;
					opacity: 0.5;
					@media screen and (max-width: 767px) {
						position: relative;
						display: flex;
						width: 150px;
						float: left;
					}
				}
				.pink_flower_variant {
					position: absolute;
					top: 0;
					right: 10%;
					z-index: 0;
					margin: 1.5rem;
					opacity: 0.5;
					@media screen and (max-width: 767px) {
						position: relative;
						display: flex;
						width: 150px;
						float: right;
					}
				}
			}
		}
	}
</style>
