---
import Heading from "./Heading.astro";
---

<div>
  <Heading en="SERVICE" ja="当店のサービス" />
  <div
    class="grid grid-cols-1 md:grid-cols-2 justify-center items-center place-items-start gap-12"
  >
    <!-- ここから宅配サービス -->
    <img
      class="w-[95%] h-56 md:w-full md:h-96 bg-primary rounded-r-xl block object-cover"
      src="/images/delivery_top.jpg"
    />
    <div class="max-w-lg m-4 md:mr-auto">
      <div class="flex items-center">
        <img class="" src="/svgs/track.svg" alt="" />
        <h3 class="font-bold text-2xl ml-4">宅配サービス</h3>
      </div>
      <hr class="my-4 bg-primary border-gray-light" />
      <p class="mb-4 tracking-widest leading-loose">
        さくらいとれとれ市場では、近隣のお客様に新鮮な野菜を届けるための宅配サービスを展開しています。お買い上げ金額が4,000円以上の場合、送料無料でお届けしています。さらに、農家直送の新鮮な野菜や旬の食材を取り扱っており、お客様に健康的で美味しい食材を提供しています。
      </p>
      <img class="float-right" src="/svgs/delivery.svg" alt="" />
    </div>
    <img
      class="w-[95%] h-56 md:w-full md:h-96 bg-primary rounded-l-xl block md:hidden ml-auto object-cover"
      src="/images/katie-smith-uQs1802D0CQ-unsplash.jpg"
    />
    <!-- ここからレシピ提案 -->
    <div class="max-w-lg m-4 md:ml-auto">
      <div class="flex items-center">
        <img class="" src="/svgs/book.svg" alt="" />
        <h3 class="font-bold text-2xl ml-4">レシピ提案</h3>
      </div>
      <hr class="my-4 bg-primary border-gray-light" />
      <p class="mb-4 tracking-widest leading-loose">
        野菜のレシピ提案サービスは、お客様が購入した野菜に合ったレシピを提案し、保存方法のアドバイスや料理のコツ、野菜情報の提供を行っています。
      </p>
      <img class="float-right" src="/svgs/cooking-woman.svg" alt="" />
    </div>
    <img
      class="w-[95%] h-56 md:w-full md:h-96 bg-primary rounded-l-xl hidden md:block object-cover"
      src="/images/recipe_top.jpg"
    />
  </div>
</div>

<style lang="scss"></style>
